<div class="container">
    <form class="form item" #checkoutForm="ngForm">

        <h1>Nuevo Usuario

        </h1>
        <mat-form-field class="form__element">
       
    <input
        matInput
        placeholder="Usuario"
        required
        [(ngModel)]="model.usuario"
        name="usuario"
        #usuario="ngModel"
        
    />
    <mat-error *ngIf="!usuario.valid || usuario.pristine">
        Usuario requerido.
    </mat-error>
    </mat-form-field>
    
    <mat-form-field class="form__element">
       
        <input
            matInput
            placeholder="Contraseña"
            required
            [(ngModel)]="model.contrasena"
            name="contrasena"
            #usuario="ngModel"
        />
        </mat-form-field>
        
    
    <div class="container__button">
        
        <button
        [disabled]="!checkoutForm.valid"
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSubmit(checkoutForm)"
        >
        Guardar
    </button>
    </div>

    </form>
    </div>
    