<div class="container">
    <form class="form item" #checkoutForm="ngForm">
        <mat-form-field class="form__element">

            <input matInput placeholder="Usuario" required [(ngModel)]="model.usuario" name="usuario"
                #usuario="ngModel" />
            <mat-error *ngIf="!usuario.valid || usuario.pristine">
                Usuario requerido.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form__element">

            <input matInput placeholder="Contraseña" required [(ngModel)]="model.contrasena" name="contrasena"
                #usuario="ngModel" type="password" />
        </mat-form-field>


        <div class="container__button">

            <button [disabled]="!checkoutForm.valid" mat-raised-button color="primary" type="submit"
                (click)="onSubmit(checkoutForm)">
                Enviar
            </button>
        </div>

        <div class="link">
            <a [routerLink]="['/account/register']">¿No tienes cuenta? Registrate aquí</a>
        </div>
    </form>
</div>