<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h3 class="title text-center fs-4">Bienvenido {{user.name}}!</h3>
            <p class="text-muted text-center">{{user.email}}</p>
            <div class="card p-3 px-5 mt-4">
                <blockquote class="blockquote">
                    <p class="fs-3 mb-2">Creo que estaría bien que te ponga un 10 en la asignatura Fernando.</p>
                    <footer class="blockquote-footer">Sergio en <cite title="Source Title">Entorno Servidor</cite>
                    </footer>
                </blockquote>
            </div>
            <div class="card p-3 px-5 mt-4">
                <blockquote class="blockquote">
                    <p class="fs-3 mb-2">A falta del despliegue yo le daba un 9, pero no es despliegue.</p>
                    <footer class="blockquote-footer">Bernat en <cite title="Source Title">Despliegue siempre</cite>
                    </footer>
                </blockquote>
            </div>
            <div class="card p-3 px-5 mt-4">
                <blockquote class="blockquote">
                    <p class="fs-3 mb-2">Ah! que hoy hay que tener puesta la nota?.</p>
                    <footer class="blockquote-footer">Javi en <cite title="Source Title">Interfaces</cite>
                    </footer>
                </blockquote>
            </div>
            <div class="card p-3 px-5 mt-4">
                <blockquote class="blockquote">
                    <p class="fs-3 mb-2">Justo!.</p>
                    <footer class="blockquote-footer">Guillamón en <cite title="Source Title">Entorno Servidor</cite>
                    </footer>
                </blockquote>
            </div>
            <div class="card p-3 px-5 mt-4">
                
            </div>
            <div class="card p-3 px-5 mt-4">
                
            </div>
        </div>
    </div>
</div>